:root {
    --green: springgreen;
    --gray: #444;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
}

nav {
    background-color: var(--gray);
}
.container-nav {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont-left label.logo {
    color: var(--green);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
}

.cont-right ul li {
    display: inline-block;
}

.cont-right ul li a {
    padding: 1rem;
    letter-spacing: 1px;
    color: #eee;
    font-family: sans-serif;
    border-radius: 7px;
    text-decoration: none;
    font-size: 1.2rem;
}
a:hover {
    background-color: var(--green);
}

/* =================  Toggle ================ */
.checkbtn {
    float: right;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 23px;
    font-size: 30px;
    font-weight: 900;
}
#check {
    display: none;
}

/* ========== Main Home ================== */
main {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    background-image: url(../photos/pyramids.jpg);
    background-position: center;
    background-size: cover;
}
.card-wrapper {
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 4rem;
}
