:root {
    --green:  rgb(56, 177, 56);;
    --gray:rgb(71, 71, 71);
    --star :  rgb(207 207 5);
  }

section .container{
    display: flex;
    margin: 30px 0px;
}

section .icon{
    color: var(--star);
    text-align: center;
}
section  .icon .user{
    display: block;
    margin: auto;
    font-size: 80px;
    color: var(--green);
    padding: 33px 0;
}

section p{
    padding: 10px 40px;
    color:var(--gray) ;
    line-height: 53px;
    font-size: 32px;
    font-family: fangsong;
}

section p:hover{
    color:black;
}